input/**/*
output/**/*
!input/deposit/.gitkeep
!input/history/.gitkeep
!input/summary/.gitkeep
!input/seed/.gitkeep
!output/.gitkeep

credentials.yaml
!templates/credentials.yaml
upload.yaml
.insighta.yaml

__pycache__/
*.pyc
*.egg-info/

.venv/